*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body{
  background-color: beige;
  /* background-image: url(/img/Alexander_Flemming.jpg); */
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  /* max-width: 100%; */
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 5px 10px;
}
.navbar_logo{
  text-transform: uppercase;
  font-size: 40px;
}
.navbar_logo a{
  color: white;
}
.navbar_menu{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 0;
}
.navbar_menu a{
  color: white;
}
.navbar_menu li{
  padding:0px 12px;
}
.navbar_menu_link{
  transition: 0.7s ease;
}
.navbar_menu_link:hover {
  color: blue;
}

.navbar_register{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0;
  /* background-color: blue; */
}
.navbar_register li{
  padding: 0px 4px;
}

.navbar_toggle_Btn{
  display: none;
  width: 24px;
  height: 20px;
  position: absolute;
  right: 30px;
  background-color: red;
}


input[id="menuicon"]{
  display: none;
}
input[id="menuicon"] + label{
  display: block;
  width: 24px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
input[id="menuicon"] + label span{
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  background: #fff;
  transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.hamburger{
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
.bar{
  display: block;
  border-radius: 2px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* 반응형 */

/* @media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
  .navbar_register{
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggle_Btn{
    display: block;
  }

  .navbar_menu.active,
  .navbar_register.active{
    display: flex;
  }
} */

/* @media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar_menu{
    position: fixed;
    margin: -10px;
    top: -80px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: gray;
  }
  .navbar_register{
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_menu.active{
    top: 48px;
  }
} */

@media screen and (max-width:768px) {
  .navbar{
    padding: 0;
  }
  .navbar_logo{
    display: flex;
    background-color: blue;
    margin: auto;
  }
  .navbar_menu {
    /* display:  none; */
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar_menu li{
    margin: 20px 0;
    font-size: 30px;
  }
  .navbar_register{
    display: none;
  }
  .hamburger{
    position: absolute;
    display: block;
    z-index: 1;
  }
}
