body{
  background-color: beige;
}

a{
  text-decoration: none;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 0px 10px;
}

.navbar_logo{
  text-transform: uppercase;
  font-size: 20px;
}

.navbar_menu{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 0;
}
.navbar_menu li{
  padding:0px 20px;
}
.navbar_menu li:hover {
  background-color: red;
}

.navbar_register{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0;
  /* background-color: blue; */
}
.navbar_register li{
  padding: 0px 4px;
}

.navbar_toggle_Btn{
  display: none;
  width: 22px;
  height: 22px;
  /* color: white; */
  position: absolute;
  right: 30px;
}


input[id="menuicon"]{
  display: none;
}
input[id="menuicon"] + label{
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
input[id="menuicon"] + label span{
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #000;
  transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-chiild(2){}

/* 반응형 */

@media screen and (max-width:780px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
  .navbar_register{
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggle_Btn{
    display: block;
  }

  .navbar_menu.active,
  .navbar_register.active{
    display: flex;
  }
}